.container {
    max-width: 1000px;
    width: 100%;
    color: #E1EFFC;
}
a:hover{
    text-decoration: none;
}
.header {
    margin-top: 30px;
}
.header h2 a {
    font-weight: 900;
    color: rgb(212, 26, 26);
}
.header h2 a:hover {
    color: rgba(165, 10, 10, 0.8);    
}
.header ul {
    display: flex;
    margin-left: auto;
}
.header ul li {
    list-style-type: none;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #F4CA16
}
.header button {
    height: 2rem; 
    text-align: center;
    margin-top: 7px;
    margin-left: 20px;
    border-radius: 20px;
}
.random-planet {
    display: flex;
    margin-top: 30px;
    background: #4E5D6C;
    padding: 15px 15px 0; 
    border-radius: 5px;
}
.random-planet .planet-info {
    display: grid;
    margin-left: -20px;
}
.random-planet h3 {
    margin-left: 70px;
    color: #1D3044;
    font-weight: 700;
}
.random-planet ul li {
    list-style-type: none;
    border-bottom: 1px solid #6F859A;
    margin-top: 10px;
}
.random-planet ul {
    margin-left: 50px;
}
.item-list {
    border-radius: 5px;
    margin-top: 15px;
    margin-left: -40px;
}
.item-list li {
    color: #318CE7;
    font-weight: 600;
}
.item-list li:hover {
    cursor: pointer;
}
.item-info {
    display: grid;
    margin-left: -30px;
}
.item-info h4 {
    margin-top: 10px;
    margin-left: -8px;
    color: #004242;
    font-weight: 600;
}
.item-info ul {
    margin-left: -45px;
}
.item-info ul li {
    list-style-type: none;
    margin-bottom: 5px;
    max-width: 234px;
    border-bottom: 1px solid #6F859A;
}

.random-planet .planet-image {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.random-planet ul {
    margin-top: -20px;
}
.random-planet ul li {
    font-size: 18px;
}
.item-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
    margin-top: 15px;
}
.item-details img {
    padding: 10px;
    max-height: 200px;
    max-width: 170px;
    width: 100%;
    border-radius: 20px;
}
.error {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 30%;
    color: rgb(231, 139, 18);
    font-weight: 600;
    margin-bottom: 15px;
}
.error .boom {
    font-size: 18px;
}
.error img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}
.error-item {
    justify-self: center;
    align-self: center;
}
#root .error {
    margin: 50px 0;
}